<!DOCTYPE html>
<html>
<head>
<title>PGdP Pingu-Plag</title>
<meta charset="UTF-8">
</head>
<body>
  <center>
    <h2>PGdP Pingu-Plag</h2>
    <form action="/texts" method="post">
      <p>
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
      </p>
      <p>
      <label for="author">Author</label>
      <input type="text" name="author" id="author">
      </p>
      <p>
      <label for="text">Enter your text here:</label>
      </p>
      <p>
      <textarea name="text" id="text" cols="50" rows="10"></textarea>
      </p>
      <p>
      <input type="submit" value="Am I a Plagiatuin?">
      </p>
    </form>
  </center>
  <br>
  <br>
  <center>
    %table
  </center>
</body>
</html>