<!DOCTYPE html>
<html>
<head>
<title>PGdP Pingu-Plag: %title</title>
<meta charset="UTF-8">
</head>
<body>
  <center>
    <h2>PGdP Pingu-Plag Text</h2>
    <table border="1px solid black">
      <tr>
        <td>ID</td>
        <td>%id</td>
      </tr>
      <tr>
        <td>Title</td>
        <td>%title</td>
      </tr>
      <tr>
        <td>Author</td>
        <td>%author</td>
      </tr>
      <tr>
        <td>Text</td>
        <td><textarea cols="50" rows="10" readonly>%text</textarea></td>
      </tr>
    </table>
  </center>
  <br>
  <br>
  <center>
    %table
  </center>
</body>
</html>
